*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #eeba06;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 270px;
    height: 420px;
    margin: 8% auto;
    border: solid white 4px;
    border-radius: 20px;
    background-color: black;}



/*Top section until the input*/
.top-section{
    width: 100%;
    height: 18vh;
    border-radius: 17px 17px 0 0;
    background-color:#fff ;
}

.top-header{
    display: flex;
    flex-direction: row;
    
    
}
.mark-name{
    position: relative;
   left: 40%;
    font-weight: bold;
}


.top-icon {
    width: 20px;
    height: 20px;
    padding: 2px;
}
.input-value{
    padding: 5px;
    width: 95%;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    position: relative;
    left: 5px;
    
}



#turn-off{
    width: 20px;
    cursor: pointer;
}




/*Bottom section the btns*/
.bottom-sesction{
    height: 100%;
    width: 98%;
    background-color: #204360;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: ifr 1fr 1fr 1fr 1fr;
   
}
.icon{
    width: 50px;
    height: 50px; 
    cursor: pointer;
    margin-left: 5px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50%;
}

.egal-icon{
    width: 290%;
    position: relative;
    background-color: yellow;
    border-radius: 10px;
}

.bcolor{
    background-color: #24a0ED;
}

